.button {
  padding: 1rem 0;
  color: rgb(0, 168, 182);
  display: flex;
  align-items: center;
}

.button span {
  font-weight: 700;
  font-size: 14px;
}

.button i {
  margin-left: 8px;
  font-size: 14px;
  margin-top: 3px;
}
.dis_none {
  display: none;
}

#moretext {
  display: none;
}
